/* Stile für die Favoritenseite
   - Zentriert die Favoritenbox, gestaltet Listen und Überschriften
*/

.favorite-page-wrapper {
    /* Zentriert die Favoritenbox auf der Seite, sorgt für responsives Layout */
    display: flex;                 
    justify-content: center;       
    align-items: center;          
    flex-wrap: wrap;             
    min-height: 100vh;          
    padding: 2rem;             
  }
  .favorite-box{
    /* Stil für die Favoritenbox */
   
    padding: 2.5rem 2rem; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 90%; 
    text-align: center; 
  }
  
  .favorite-heading{
    /* Hauptüberschrift der Favoritenseite */
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #222222;
    font-weight: 400;
  }
  .favorite-subheading{
    /* Unterüberschrift (optional) */
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #444444;
    font-weight: 400;
  }
  
  .favorite-list {
    /* Entfernt Standard-Listenstil und Abstände */
    list-style-type: none; 
    padding: 0; 
    margin: 0 0 1.5rem 0; 
  }
  
  .favorite-list li {
    /* Stil für Listeneinträge */
    margin-bottom: 0.5rem; 
    font-size: 1.2rem; 
    color: #333; 
  }

  .favorite-list strong {
    /* Stil für Label-Text in der Liste */
    font-weight: light ; 
    color: #222222; 
  }
  
  .favorite-user-count, .favorite-message{
    /* Stil für zusätzliche Favoriteninfos */
    margin-bottom: 0.8rem;
    color: #555; 
  }

  .favorite-input{
    margin-bottom: 20px; 
    padding: 8px; 
    width: 100%; 
    max-width: 400px; 
    font-size: 16px; 
    border-radius: 5px; 
    border: 1px solid #222222;
  }