/* Home Style
   - Gestaltet die Produktübersicht, Karten, Buttons und Header
*/

.product-list-wrapper {
    /* Zentriert die Produktliste auf der Seite und sorgt für Abstand nach oben */
    display: flex;
    justify-content: center; /* Verteilt den Platz zwischen/um die Karten */
    margin-top: 2rem; /* Abstand nach oben, damit wird dieser Container in bestimmten pos. platziert */
}

.product-list-container {
    /* Flexbox-Container für die Produktkarten, sorgt für Umbruch und Abstand */
    display: flex;
    flex-wrap: wrap; /* Erlaubt Umbruch auf kleinen Bildschirmen */
    gap: 1.5rem;
    max-width: 1200px;
    justify-content: center; /* Zentriert die Karten */
    padding: 2rem; /* Etwas Abstand zum Rand */
} 

.product-card {
    /* Stil für einzelne Produktkarten */
    background: linear-gradient(145deg, #f8f8f8, #ffffff) ;
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 20px;
    width: 270px; /* Breite der Karte */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.4s ease; /* Zuständig für die Animation */
}

.product-card img {
    /* Stil für Produktbilder in der Karte */
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
}

.product-card:hover {
    /* Hover-Effekt für Produktkarten */
    transform: scale(1.02); /* Vergrößert die Karte bei Hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Verändert den Schatten bei Hover */
}

.product-card h4 {
    /* Stil für Produktnamen */
    font-family: Georgia, serif;
    font-size: 1.2rem;
    color: #222;
    text-align: center;
}

.product-card p {
    /* Stil für Produktbeschreibung */
    font-size: 0.9rem;
    color: #444;
    text-align: center;
}

.product-card button {
    /* Stil für Buttons in der Produktkarte */
    background-color: #2C2C2C;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.product-card button:hover {
    /* Hover-Effekt für Buttons */
    background-color: #FF9800;
    transform: scale(1.05);
}

.home-header{
    /* Stil für den Header-Bereich auf der Startseite */
    background-color: #F8F6F3;
    padding: 4rem 2rem;
    text-align: center; 
}

.home-header h1 {
    /* Stil für die Hauptüberschrift im Header */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: #111;
    line-height: 1.2;
}

.hero-section h1 span {
    /* Zeigt jeden Teil der Überschrift in einer neuen Zeile */
    display: block;
}