/* Stile für die Index-Seite
   - Gestaltet Überschrift, Karten-Layout und Buttons
*/

.index-heading{
    /* Stil für die Hauptüberschrift der Indexseite */
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
    color: #222222;
    font-weight: 300;
  }
  
  .level-one-container{
    /* Flexbox-Container für die Karten auf der Indexseite */
    display:flex;                  
    justify-content: center;       
    align-items: stretch;         
    flex-wrap: wrap;             
    margin-top: 12rem;          
    gap: 0px;                  
    padding: 20px;            
    background-color: #f8f6f3c8;
  }
  
  .action-card-index {
    /* Stil für einzelne Karten auf der Indexseite */
    background-color: #f9f9f95f;      
    border: 2px solid #ddd;         
    border-radius: 8px;             
    padding: 20px;                 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1); 
    text-align: center;         
    background-color: #ffffff; 
    flex-basis: 300px; 
    flex-grow: 1;      
    max-width: 500px;  
    max-height: 500px; 
  }
  
  .action-card-index p {
    /* Stil für Text in den Karten */
    margin-bottom: 15px; 
    color: #333; 
  }
  
  .action-card-index .btn {
    /* Stil für Buttons/Links in den Karten */
    display: inline-block; 
    background-color: #2C2C2C;
    color: white;              
    padding: 10px 20px;        
    text-decoration: none;     
    border-radius: 5px;        
    transition: background-color 0.3s ease; 
  }
  
  .action-card-index .btn:hover {
    /* Hover-Effekt für Buttons */
    background-color: #FF9800; 
  }
