/* Stile für Login- und Registrierungsseiten
   - Zentriert die Boxen, gestaltet Formulare und Buttons
*/

.lr-page-wrapper {
    /* Zentriert die Login/Register-Box vertikal und horizontal, sorgt für responsives Layout */
    display: flex;                  
    justify-content: center;       
    align-items: center;          
    flex-wrap: wrap;             
    min-height: 100vh;          
    padding: 2rem;             
  } 
  
  .extra-register{
    /* Abstand für zusätzliche Register-Elemente */
    margin-top: 20px;
  }
  
  .lr-box{
    /* Stil für die Login/Register-Box */
    background-color: #ffffff;
    padding: 2.5rem 2rem; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px; /* Maximale Breite der Box */
    text-align: center; /* Text zentrieren */
  }
  
  .lr-box label {
    /* Stil für Formular-Labels */
    display: block; 
    margin-top: 1rem; 
    margin-bottom: 0.5rem; 
    font-weight: bold; 
    color: #222222; 
  }
  
  .lr-box input{
    /* Stil für Eingabefelder */
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #f9f9f9;
    margin-bottom: 1rem; 
  }
  
  .lr-box button{
    /* Stil für Formular-Buttons */
    width: 100%;
    padding: 0.7rem;
    background-color: #2C2C2C;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  .lr-box button:hover{
    /* Hover-Effekt für Buttons */
    background-color: #FF9800; 
  }
  
  .lr-heading{
    /* Überschrift-Stil für Login/Register */
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #222222;
    font-weight: 400;
  }
  
  .lr-box.register {
    /* Spezielles Padding für die Register-Box */
    padding: 2rem 1.5rem;
  }
  
  .lr-box.register input, .lr-box.register select{
    /* Abstand für Inputs und Selects im Register-Formular */
    margin-bottom: 1.0rem
  }