{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}


<section class="home-header">
<h1><span>Products of Project-Review</span></h1>
</section>
<div class="product-list-wrapper">
  
    <div class="product-list-container">
      
      <div id = "product-list" class="product-list-container" > <!--  ID für JS  -->
        <script>
      document.addEventListener("DOMContentLoaded", async () => {
        const response = await fetch("https://dummyjson.com/products?limit=20");    // Hier wird die API aufgerufen mit einem limit von 20 Artikeln
        const data = await response.json();                                        // Hier wird die Antwort in JSON umgewandelt es wird gewartet bis die ganze Antwort kommt
        const products = data.products;                                           // Die Antwort von oben wird hier in eine Variable gespeichert
        const container = document.getElementById("product-list");               // Wenn ein HTML Element mit der ID product-list existiert, bekommt sie die Variable container zugewiesen

        products.forEach(product => {                                          // Hier wird für jedes Produkt ein Card-Element erstellt
          const card = document.createElement("div");
          card.className ="product-card";
          card.innerHTML = `
            <img src="${product.thumbnail}" alt="${product.title}" width="100">
            <h4>${product.title}</h4>
            <p>${product.description}</p>
            <button onclick="likeProduct('${product.title}')"> Gefällt mir! </button>
           
          `; 

          container.appendChild(card); // Hier wird die Card in den Container eingefügt damit sie angezeigt wird
        });
      });

      function likeProduct(title) {       // Funktion zum Liken eines Produkts
        fetch("/like", {                  // Hier wird die POST-Anfrage an den Server gesendet
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ title }), // Hier wird der Titel des Produkts als JSON gesendet
        }).then(() => {
          window.location.reload(); // Hier wird die Seite neu geladen damit die Änderungen angezeigt werden
        });
      }

      function unlikeProduct(title) { 
        fetch("/unlike", {
          method:"POST", 
          headers:{
            "Content-Type": "application/json",
          }, 
          body: JSON.stringify({ title }),
        }).then(() => {
          window.location.reload();
        });
      } // Funktion zum Entliken eines Produkts
      
        </script>
      </div>
    </div>
  </div>
  

  
{% endblock %}