{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block content %}
<div class="profile-page-wrapper">
    <div class="profile-box">
        <h2 class="profile-heading">Deine Profilseite, {{ user.username }}</h2>

        <ul class="profile-list">
            <li><strong>Benutzername:</strong> {{ user.username }}</li>
            <li><strong>E-Mail:</strong> {{ user.email }}</li>
            <li><strong>Land:</strong> {{ user.country }}</li>
            <li><strong>Registriert am:</strong> {{ user.creation.strftime('%d.%m.%Y %H:%M') }}</li>
        </ul>
    </div>
</div>
{% endblock %}