{% extends "base.html" %}

{% block title %}Startseite{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
    {% endwith %}

    <h1>Die beliebtesten Produkte</h1>
    <div id="product-list">
        <!-- Produkte werden hier per JavaScript eingefügt -->
    </div>  
    

{% endblock %}