{% extends "base.html" %}

{% block title %}Registrierung{% endblock %}

{% block content %}
<div class="lr-page-wrapper">
  <div class="lr-box register ">
    <h2 class="lr-heading"> Registrierung </h2>

    <form method="POST">
        <label>Benutzername:</label>
        <input type="text" name="username" required>
        <label>E-Mail:</label>
        <input type="email" name="email" required>
        <label>Passwort:</label>
        <input type="password" name="password" required>
        <label>Land:</label>
        <select name="country" required>
            <option value="Deutschland">Deutschland</option>
            <option value="Österreich">Österreich</option>
            <option value="Schweiz">Schweiz</option>
        </select>
     
        <button type="submit">Registrieren</button>
    </form>
       
  </div>
</div>
{% endblock %}